<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="23" android:compileSdkVersionCodename="6.0-2438415" package="tv.emby.embyatv" platformBuildVersionCode="1829" platformBuildVersionName="1.8.29g">
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:banner="@drawable/app_icon" android:hardwareAccelerated="true" android:icon="@drawable/logoicon512" android:label="@string/app_name" android:largeHeap="true" android:name="tv.emby.embyatv.TvApp" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:label="@string/app_name" android:logo="@drawable/app_icon" android:name="tv.emby.embyatv.browsing.MainActivity" android:screenOrientation="landscape"/>
        <activity android:label="@string/app_name" android:logo="@drawable/app_icon" android:name="tv.emby.embyatv.startup.StartupActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="tv.emby.embyatv" android:path="/startapp" android:scheme="embyatv"/>
                <data android:host="tv.emby.embyatv" android:pathPrefix="/displayitem" android:scheme="embyatv"/>
                <data android:host="tv.emby.embyatv" android:pathPrefix="/play" android:scheme="embyatv"/>
                <data android:host="tv.emby.embyatv" android:pathPrefix="/direct" android:scheme="embyatv"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:label="@string/title_activity_connect" android:name="tv.emby.embyatv.startup.ConnectActivity"/>
        <activity android:label="@string/title_activity_select_user" android:name="tv.emby.embyatv.startup.SelectUserActivity"/>
        <activity android:label="PlaybackOverlayActivity" android:name="tv.emby.embyatv.playback.PlaybackOverlayActivity"/>
        <activity android:name="tv.emby.embyatv.startup.SelectServerActivity"/>
        <activity android:name="tv.emby.embyatv.startup.ExpiredActivity"/>
        <activity android:name="tv.emby.embyatv.settings.SettingsActivity"/>
        <activity android:name="tv.emby.embyatv.search.SearchActivity"/>
        <activity android:name="tv.emby.embyatv.details.FullDetailsActivity"/>
        <activity android:name="tv.emby.embyatv.livetv.LiveTvGuideActivity"/>
        <activity android:name="tv.emby.embyatv.browsing.GenericGridActivity"/>
        <activity android:name="tv.emby.embyatv.validation.UnlockActivity"/>
        <activity android:name="tv.emby.embyatv.details.PhotoPlayerActivity"/>
        <activity android:name="tv.emby.embyatv.details.ItemListActivity"/>
        <activity android:name="tv.emby.embyatv.playback.AudioNowPlayingActivity"/>
        <activity android:name="tv.emby.embyatv.playback.ExternalPlayerActivity"/>
        <activity android:name="tv.emby.embyatv.browsing.LiveTvActivity"/>
        <activity android:name="tv.emby.embyatv.browsing.MovieActivity"/>
        <activity android:name="tv.emby.embyatv.browsing.TvActivity"/>
        <activity android:name="tv.emby.embyatv.browsing.MusicActivity"/>
        <activity android:label="@string/title_activity_dpad_pw" android:name="tv.emby.embyatv.startup.DpadPwActivity"/>
        <activity android:name="tv.emby.iap.PurchaseActivity"/>
        <activity android:name="tv.emby.embyatv.settings.PolicyActivity"/>
        <receiver android:name="tv.emby.embyatv.util.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="tv.emby.embyatv.recommendations" android:exported="true" android:grantUriPermissions="true" android:name="tv.emby.embyatv.integration.RecommendationContentProvider"/>
        <provider android:authorities="tv.emby.embyatv.search" android:enabled="true" android:exported="true" android:name="tv.emby.embyatv.search.GlobalSearchProvider"/>
        <activity android:label="@string/title_activity_expanded_text" android:name="tv.emby.embyatv.details.ExpandedTextActivity"/>
        <activity android:name="tv.emby.embyatv.settings.MainSettingsActivity"/>
        <activity android:name="tv.emby.embyatv.settings.HomeLayoutSettingsActivity"/>
        <activity android:name="tv.emby.embyatv.settings.AudioSubSettingsActivity"/>
        <activity android:name="tv.emby.embyatv.playback.YTPlayerActivity"/>
    </application>
</manifest>